
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Skeleton: Responsive CSS Boilerplate</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:900italic' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="./stylesheets/normalize.css">
  <link rel="stylesheet" href="./stylesheets/skeleton.css">
  <link rel="stylesheet" href="./stylesheets/custom.css">
  <link rel="stylesheet" href="./stylesheets/bootstrap.css">
  <link rel="stylesheet" href="./stylesheets/jquery-clockpicker.min.css">


  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../../dist/images/favicon.png">
    <link href="./stylesheets/ng-tags-input.css" rel="stylesheet">
    <link href="./stylesheets/ng-tags-input.bootstrap.css" rel="stylesheet">

</head>
<body>
<tags-input ng-model="extraTags"style="max-height: 100px"></tags-input>
<p>hello<p>
<script src="./bower_components/angular/angular.js"></script>
<script src="./javascripts/ng-tags-input.js"></script>
<script src="/javascripts/angularApp.js"></script>
</body>
</html>