
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Skeleton: Responsive CSS Boilerplate</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:900italic' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="./stylesheets/normalize.css">
  <link rel="stylesheet" href="./stylesheets/skeleton.css">
  <link rel="stylesheet" href="./stylesheets/custom.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../../dist/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!-- <nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom:0; background: rgba(0,0,0,0.4);">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">inTouch</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li ><a href="/home">Home</a></li>
              <li><a href="#">Login</a></li>

            </ul>
          </div>
        </div>
      </nav> -->
  <div class="section values">

  	<div class="container">
  		<div class="row">
  			<div class="six column">
  				<h1 class="hero-heading" font-family:'Lato'><b><em>inTouch</b></em></h1>
  				<h4 class="hero-heading"> Stay in touch with people who matter.</h4><br>
  				<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span>Google+ Sign-in</a>
  			</div>

  		</div>
  	</div>
  </div>


  <div class="section get-help">
  	<div class="container">
  	<h2>An easy way to remind yourself to stay in touch with those that matter.</h2>
<!--   		<div class="row">
  			<h2>Introduce inTouch. </h2><h2>An easy way to remind yourself to stay in touch with those that matter.</h2>
  			<h4>You've probably met a lot of cool people in your life. Awesome friends from that trip abroad. That really cool guy from a business conference. Valuable friends from college. </h4><h4>We'd love to stay in touch with all of these people, but it's only human for us to lapse and forget. And before you know it, it's been one month, half a year, and then a full year without having even said "Hey." We wanted to help you stay in touch with those people in your life that matter.<br><br><br></h4>
  		</div> -->

  		<div class="row">
  			<br><br>
  			<h2>Features</h2>
  			<br><br>
  		</div>
  		<div class="row">

  			<div class="one-third column value">

  				<span style="font-size: 3em" class="glyphicon glyphicon-user" aria-hidden="true"></span> 

  				<h5 class="value-heading">Stay inTouch</h5>
  				<p class="value-description">Add friends, colleagues, or acquaintances you'd like stay in touch with.</p>
  			</div>
  			<div class="one-third column value">
  				<span style="font-size: 3em" class="glyphicon glyphicon-time" aria-hidden="true"></span> 
  				<h5 class="value-heading">Pick How Often</h5>
  				<p class="value-description">Pick how often you want to stay in touch. One week, one month, one year (we're not judging).</p>
  			</div>
  			<div class="one-third column value">
  				<span style="font-size: 3em" class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 
  				<h5 class="value-heading">Email Reminders</h5>
  				<p class="value-description">Get an email every week with who it's time to reach out to!</p>
  			</div>

  			<div class="container">
  				<br>
  				<br>
  				<br>
  				<br>
  				<h3 class="section-heading">Plus...Pocket integration!</h3>
  				<span style="font-size: 3em" class="glyphicon glyphicon-tags" aria-hidden="true"></span> 
  				<p class="section-description">Add your pocket account and get a list of your favorite reads included in your reminder emails  for easy sharing!</p>
  				<a class="button button-primary" href="/auth/google">Add your first friend.</a>
  			</div>
  		</div>
  	</div>
  </div>

  
<div align="center">
  <p>&copy; Zephyr Inc.</p>
  </div>
</div>




<!-- End Document
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="./javascripts/bootstrap.min.js"></script>
</body>
</html>