<html>
<head>
	<title>My Angular App!</title>
	<link rel="stylesheet" href="bower_components/lumx/dist/css/lumx.css">
	<link href="./stylesheets/bootstrap.css" rel="stylesheet">
	<link href="./stylesheets/jquery-clockpicker.min.css" rel="stylesheet">
  <link href="./stylesheets/ng-tags-input.css" rel="stylesheet">
  <link href="./stylesheets/ng-tags-input.bootstrap.css" rel="stylesheet">

  <link href="./stylesheets/angularApp.css" rel="stylesheet">


</head>
<body ng-app="flapperNews" style="background-color: rgba(255, 255, 255, .8)">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<ui-view></ui-view>
		</div>
	</div>

	<script type="text/ng-template" id="/home.html">


<div class="col-md-4">
  <h1>Tiger Events</h1>
  <h4 style="color: gray">The best events on campus, everyday</h4>
</div>

<div class="col-md-10">
<br>
    </div>

<div class="col-md-10">
        <div class="card">
            <div class="toolbar">
                <lx-search-filter model="searchTerm" filter-width="100%" placeholder="Search by name, location, category"></lx-search-filter>
            </div>
        </div>
    </div>

      <div class="col-md-4">
      <button class="btn btn--m btn--orange btn--raised" ng-click="showEventForm()" lx-ripple>Add Event!</button>  
      </div>
      <!-- <div class="col-md-4">
      <button class="btn btn--m btn--orange btn--raised" ng-click="showPreferences()" lx-ripple>Favorite Categories!</button>  
      </div> -->



<div class="col-md-12">
  <!-- <button class="btn btn--m btn--blue btn--raised" ng-click="test()" lx-ripple>TEST</button>   --> 

  <!-- CHANGE PREFERENCES FORM -->
  <div class="data-table-container" ng-show="isShowPreference" style="background-color: rgba(255, 255, 255, .7)" id="changePrefDiv">
    <table class="data-table data-table--has-primary data-table--has-secondary">
        <thead>
        <tr><h3 style="color:gray">Favorite Categories</h3></tr><tr></tr>


      
            <tr class="data-table__clickable-row" ng-repeat="pref in prefGroups">
                <td ng-repeat="category in pref">
                  <div class="checkbox">
                    <input type="checkbox" id="checkbox{{$parent.$index*4 + $index}}" class="checkbox__input" ng-click="changePreference(category.text)" {{category.checked}}>
                    <label style="color:gray" for="checkbox{{$parent.$index*4 + $index}}" class="checkbox__label" >{{category.text}}</label>
                  </div>
                </td>
            </tr>

            
        </thead>
    </table>
            <div class="col-md-4">
      <button class="btn btn--m btn--green btn--raised" ng-click="confirmPreferences()" lx-ripple>Confirm Categories</button>  
      </div>
</div>    
  <!--  ADD EVENT FORM -->
  <div class="grid" ng-show="showEvent" style="background-color: rgba(255, 255, 255, .7)" id="addEventDiv">
    <div class="col-md-4">
      <lx-text-field label="Event Name*">
      <input type="text" ng-model="eventName">
    </lx-text-field>
  </div>
  <div class="col-md-4">
    <lx-text-field label="Location*">
    <input type="text" ng-model="eventHost">
  </lx-text-field>
</div>
<div class="col-md-10">
  <lx-text-field label="Event Description">
  <textarea type="text" class="form-control" ng-model="eventDescription"></textarea>
</lx-text-field>
</div>
<br>

<div class="col-md-3">
  <lx-date-picker label="Pick a date*" model="eventDate" >Pick a date</lx-date-picker>
</div>
  <div class="col-md-2">
    <lx-text-field label="Start Time*">
    <input type="text" clock ng-model="startTime">
  </lx-text-field>
</div>
  <div class="col-md-2">
    <lx-text-field label="End Time*">
    <input type="text" clock ng-model="endTime">
  </lx-text-field>
</div>

<div class="col-md-1">

   <lx-dropdown>
<lx-text-field>
  <button class="btn btn--m btn--blue btn--raised" lx-ripple lx-dropdown-toggle>
    {{category + "*"}}
  </button>
   </lx-text-field>

  <lx-dropdown-menu>
  <ul>
    <li><a class="dropdown-link" ng-click="setCategory(0)">Club</a></li>
    <li><a class="dropdown-link" ng-click="setCategory(1)">Off-Campus</a></li>
    <li><a class="dropdown-link" ng-click="setCategory(2)">Recruiting</a></li>
    <li><a class="dropdown-link" ng-click="setCategory(3)">Talk/Discussion</a></li>
    <li><a class="dropdown-link" ng-click="setCategory(4)">University Event</a></li>
    <li><a class="dropdown-link" ng-click="setCategory(5)">Performance</a></li>
  </ul>
</lx-dropdown-menu>
</lx-dropdown>
<br><br>
</div>
  <div class="col-md-6">
  <tags-input ng-model="tags" style="height: 40px">
  <auto-complete source="loadItems($query)"></auto-complete>
</tags-input>
</div>

<br><br>


<div class="col-md-12">
</div>

<div class="col-md-6">
  <button class="btn btn--m btn--green btn--raised" lx-ripple ng-click="addNewEvent()">Submit</button>  
</div>
<h2>{{submissionError}}</h2>
</div>
</div>
<br><br>



<!-- EVENT DIALOG -->


<lx-dialog class="dialog dialog--l" id="test" onclose="closingDialog()">
<div class="dialog__header">
  <div class="toolbar bgc-light-blue-500">
    <span class="toolbar__label tc-white fs-title">
      {{dialog.Title}} | {{dialog.Host}}
    </span>

  </div>
</div>

<div class="dialog__content">
  <lx-tabs links-tc="light" links-bgc="light-blue-500" indicator="yellow-500" no-divider="true" layout="inline">
  <lx-tab heading="{{dialog.Date}} {{dialog.Time}}">
  <div class="p">
    {{dialog.Description}}
  </div>
  <div class="p">
  <h5>Tags</h5>
  <p ng-repeat="tag in dialog.Tags">{{tag}}

  </p>
  </div>
</lx-tab>
</lx-tabs>
</div>
<div class="dialog__actions">
  <button class="btn btn--m btn--black btn--flat" lx-ripple ng-click="addToCal(dialog.fullEvent)">Add to Cal</button>
</div>
<div class="dialog__actions">
  <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>Cancel</button>
</div>
</lx-dialog>

<!-- LIST OF EVENTS -->
<div class="data-table-container" ng-repeat="group in groups">
<br><br><br>
<h2 class="text-left" style="color:"><b>{{group.day}}</b>     <span>{{group.date}}</span></h2> 

  <table class="data-table data-table--has-primary data-table--has-secondary">
    <thead>
      <tr>
      	<th><b>Time</b></th>
        <th><b>Event Name</b></th>
        <th><b>Location</b></th>
        <th><b>Category</b></th>
        <th><b>More</b></th>
      </tr>
    </thead>
    <tbody>
      <tr class="data-table__clickable-row" ng-repeat="event in group.events | orderBy:'eventDate' | filter: searchTerm">
        <td>
          <span><h4 ><b>{{event.startTimeString}}</b></h4></span>
        </td>
        <td>
          <span><h4 style="color:gray"><b>{{event.eventName}}</b></h4> </span>
        </td>
        <td>
        	<span><h4 style="color:gray"><b>{{event.eventHost}}</b></h4></span>
        </td>
        <td>
          <span><button class="btn btn--s btn--{{event.categoryColor}} btn--raised">{{event.category}}</button></span>
        </td>
        <td>
          <button class="btn btn--l btn--black btn--icon" lx-ripple ng-click="opendDialog(event)">
            <i class="mdi mdi--expand-more"></i>
          </button>

        </td>
      </tr>

      
    </tbody>
  </table>
</div>

</script>



<script src="./bower_components/jquery/dist/jquery.js"></script>
<script src="./javascripts/bootstrap.min.js"></script>
<script src="./javascripts/knob.min.js"></script>
<script src="./javascripts/jquery-clockpicker.min.js"></script>

<script src="./bower_components/velocity/velocity.js"></script>
<script src="./bower_components/moment/min/moment-with-locales.min.js"></script>
<script src="./bower_components/angular/angular.js"></script>

<script src="./bower_components/lumx/dist/js/lumx.js"></script>
<script src="./javascripts/clockpicker.js"></script>
<script src="./javascripts/ng-tags-input.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
<script src="/javascripts/angularApp.js"></script>
</body>
</html>
